.homePage {
  width: 100%;
  background: #fafafa;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  min-height: 10vh;
}

.content {
  margin: 0 auto;
  max-width: 1200px;
}

.darkTheme {
  background: #212e37;
}
